:root {
  --dark-color: #707070;
  
}

/* Font weights */

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-semi-bold {
  font-weight: 600;
}

/* Font sizes */

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 20px;
}

.font-xl {
  font-size: 50px;
}

.font-xxl {
  font-size: 90px !important;
}

body {
  background-color: var(--dark-color);
  font-family: "Jost", sans-serif;
}

.avatar {
  height: 32px;
  width: 32px;
}

.color-dark {
  background-color: var(--dark-color);
}

.color-purple {
  background-color: #0f0d1d;
}

.color-black {
  background-color: black;
}

.color-light-gray {
  background-color: #434B4DBD;
}

.text-light-gray {
  color: #8F8DA0;
}

.blue-gradient {
  background: linear-gradient(0deg, rgba(60, 114, 252, 0.2), rgba(60, 114, 252, 0.2));
}

.nav-link {
  color: white;
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(201, 201, 201);
}

.carousel-item-three {
  display: flex;
}

.carousel-item-three .carousel-item {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.px-6 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-10 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pt-10 {
  padding-top: 5rem;
}

.mt-10 {
  margin-top: 6rem;
}

.inbetween-lines {
  position: relative;
}

.inbetween-lines:before {
  content: "";
  display: block;
  width: 43.5%;
  height: 1px;
  background: #32303DB5;
  left: 0;
  top: 40%;
  position: absolute;
}
.inbetween-lines:after {
  content: "";
  display: block;
  width: 43.5%;
  height: 1px;
  background: #32303DB5;
  right: 0;
  top: 40%;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .inbetween-lines:before,
  .inbetween-lines:after {
    width: 34%;
  }
}

@media screen and (min-width: 768px) {
  .inbetween-lines:before,
  .inbetween-lines:after {
    width: 38%;
  }
}


@media screen and (min-width: 993px) {
  .inbetween-lines:before,
  .inbetween-lines:after {
    width: 41%;
  }
}

@media screen and (min-width: 1100px) {
  .inbetween-lines:before,
  .inbetween-lines:after {
    width: 42.5%;
  }
}

.btn-default {
  border: 1px solid #3C72FC4D;
  text-decoration: none;
  cursor: pointer;
}